@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyWebApp!</h1>
    <p class="lead">This is a simple example of an attractive home page.</p>
    <a class="btn btn-primary btn-lg" href="https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/intro" role="button">Learn more »</a>
</div>

